@model DetailedEventListViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
      <h1 class="text-center">Добро пожаловать на сайт по планированию мероприятий</h1>

    </div>
    <div class="m-2">
      <div class="mx-auto card">
        <div class="card-header text-center">Для использования полного функционала необходима авторизация</div>
        <div class="card-body mx-auto">
          <div class="w-fitcontent">
            <div class="d-inline mx-3 my-1">
              <button type="button" onclick="window.location.href = '/account/auth/login';" class="btn btn-primary px-sm-5">Авторизация</button>
            </div>
            <div class="d-inline mx-3 my-1">
              <button type="button" class="btn btn-primary px-sm-5" onclick="window.location.href='/account/auth/Registration'">Регистрация</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2 class="text-center">Наши мероприятия:</h2>
    </div>
    <div class="m-2">
      <table class="table table-hover table-bordered" id="sortTable">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Логотип</th>
            <th scope="col">Название</th>
            <th scope="col">Направление</th>
            <th scope="col">Дата</th>
            <th scope="col">Подробнее</th>
          </tr>
        </thead>
        <tbody>
         @foreach(DetailedEventViewModel Event in Model.Events){
             <tr>
                 <th class="opacity-0">@Event.Id</th>
                 <th>@if(Event.Logo is not null)
                            {
                                <img width="60px" class="image-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(Event.Logo))"> </img>}
                     else{
                         <img width="30px" src="~/Resources/Img/empty.png">
                     }</th>
                 <th>@Event.Name</th>
                 <th>@Event.Direction.Name</th>
                 <th>@Event.StartDate</th>
                 <th><button class="btn btn-primary" onclick="window.location.href='/Home/DetailedEvent?Id=@Event.Id'" >Подробнее</button></th>
             </tr>
         }
         </tbody>
      </table>
    </div>
  </div>
