html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* :root{
    --bs-primary-rgb: 250, 100, 250;
} */
.w-fitcontent {
    width: fit-content;
}

.w-maxcontent {
    width: max-content;
}

.h-fitcontent {
    height: fit-content;
}

.w-15 {
    width: 15%;
}

.w-35 {
    width: 35%;
}
